@{
    ViewBag.Title = "Home Page";
}

<div class="effetto3D pannelloEffetto">
    Clams
</div>

<div class="slashed pannelloEffetto" style="display: none;">
    <div class="top" titolo="Clams"></div>
    <div class="bot" titolo="Clams"></div>
</div>

<script>
</script>